In [8]:
#import dependencies 
import pandas as pd
import numpy as np
import os
#import school CSV files
schools_csv= "../raw_data/schools_complete.csv"
#read school CSV files
schools_df= pd.read_csv(schools_csv)
#rename "name column to "school" to match other data set 
schools_df= schools_df.rename(columns={"name": "school"})
#import student CSV files
student_csv= "../raw_data/students_complete.csv"
#read student CSV files
student_df= pd.read_csv(student_csv)

#District Summary
#Create a high level snapshot (in table form) of the district's key metrics:

#Total Schools
TotalSchools= len(schools_df)
#Total Students
TotalStudents= len(student_df)
#Total Budget
TotalBudget = schools_df["budget"].sum()
#Average Math Score
AvgMathscore= student_df["math_score"].mean()
#Average Reading Score
AvgReadingscore= student_df["reading_score"].mean()
# % Passing Math-passing is grade >=70 
passing_math= student_df[student_df["math_score"] >= 70]
count_passing_math= len(passing_math)
passingmath_percentage= (count_passing_math/TotalStudents) * 100
#% Passing Reading-passing is grade >=70 
passing_reading= student_df[student_df["reading_score"] >= 70]
count_passing_reading= len(passing_reading)
passingreading_percentage= (count_passing_reading/TotalStudents) *100
#Overall Passing Rate (passing both math and reading)
passing_both= student_df[(student_df.math_score >= 70) & (student_df.reading_score >= 70)]
count_passing_both= len(passing_both)
passing_both_percentage=(count_passing_both/TotalStudents)*100

#District Summary
District_Summary_df= pd.DataFrame({"Total Schools": [TotalSchools], 
                                   "Total Students": [TotalStudents],
                                   "Total Budget": [TotalBudget],
                                   "Average Math Score": [AvgMathscore],
                                   "Average Reading Score": [AvgReadingscore],
                                   "% Passing Math": [passingmath_percentage],
                                   "% Passing Reading": [passingreading_percentage],
                                   "% Overall Passing Rate": [passing_both_percentage]})
District_Summary_df= District_Summary_df[["Total Schools", 
                                   "Total Students",
                                   "Total Budget",
                                   "Average Math Score",
                                   "Average Reading Score",
                                   "% Passing Math",
                                   "% Passing Reading",
                                   "% Overall Passing Rate"]]
District_Summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [9]:
#import school CSV files
schools_csv= "../raw_data/schools_complete.csv"
#read school CSV files
schools_df= pd.read_csv(schools_csv, index_col="name")
#rename "name column to "school" to match other data set 
schools_df= schools_df.rename(columns={"name": "school"})
#calculating Per Student Budget
schools_df["Per Student Budget"]= schools_df["budget"]/schools_df["size"]

#import student CSV files
student_csv= "../raw_data/students_complete.csv"
#read student CSV files
student_df= pd.read_csv(student_csv)

#grouping the student csv by school for calculations
SG_df= student_df.groupby("school")
#Total Students for calculations
total_students = SG_df["Student ID"].count()
#Average Math Score
avg_math_score = SG_df["math_score"].mean()
#Average Reading Score
avg_read_score = SG_df["reading_score"].mean()
# % Passing Math-passing is grade >=70 
school1_df= student_df.loc[student_df["math_score"] >= 70,:]
school1_df_group = school1_df.groupby("school")
perc_math = (school1_df_group["math_score"].count()/total_students)*100
#% Passing Reading-passing is grade >=70 
school2_df= student_df.loc[student_df["reading_score"] >= 70,:]
school2_df_group = school1_df.groupby("school")
perc_read = (school2_df_group["reading_score"].count()/total_students)*100
#Overall Passing Rate (passing both math and reading)
passing_both= (perc_read + perc_math)/2


#creating a datafram of calculations to merge with school data
calc_df= pd.DataFrame({"Average Math Score": avg_math_score,"Average Reading Score":avg_read_score,"% Passing Math": perc_math,
                        "% Passing Reading": perc_read,"% Overall Passing Rate":passing_both})

#merging both dataframes together
mergeall=pd.merge(schools_df, calc_df, left_index=True, right_index=True)
#formating new dataframe
school_summary=mergeall.rename(columns={"type":"School Type","size":"Total Students","budget": "Total Budget",
                                        "Per Student Budget":"Per Student Budget", "Average Math Score": "Average Math Score",     
                                   "Average Reading Score":"Average Reading Score","% Passing Math":"% Passing Math",
                                        "% Passing Reading":"% Passing Reading",
                                        "% Overall Passing Rate":"% Overall Passing Rate"})
school_summary=school_summary[["School Type","Total Students","Total Budget", "Per Student Budget", "Average Math Score",     
                                   "Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
school_summary

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,65.683922,65.683922
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,65.988471,65.988471
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,93.867121,93.867121
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,66.752967,66.752967
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,93.392371,93.392371
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,93.867718,93.867718
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,94.133477,94.133477
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,66.680064,66.680064
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,92.505855,92.505855
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,94.594595,94.594595
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,93.333333,93.333333
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,66.366592,66.366592
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,66.057551,66.057551
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,68.309602,68.309602
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,93.272171,93.272171

In [10]:
#top performing schools by passrate
top_performers = school_summary.sort_values("% Overall Passing Rate", ascending=False)
top_performers= top_performers.iloc[0:5,:]
top_performers

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,94.594595,94.594595
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,94.133477,94.133477
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,93.867718,93.867718
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,93.867121,93.867121
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,93.392371,93.392371

In [11]:
#bottom performing schools by passrate
least_performers= school_summary.sort_values("% Overall Passing Rate", ascending=True)
least_performers= least_performers.iloc[0:5,:]
least_performers

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,65.683922,65.683922
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,65.988471,65.988471
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,66.057551,66.057551
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,66.366592,66.366592
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,66.680064,66.680064

In [12]:
#import school CSV files
schools_csv= "../raw_data/schools_complete.csv"
schools_df= pd.read_csv(schools_csv)
#rename "name column to "school" to match other data set 
schools_df= schools_df.rename(columns={"name": "school"})
student_csv= "../raw_data/students_complete.csv"
student_df= pd.read_csv(student_csv)
#merge both data sets together
alldata=pd.merge(schools_df, student_df, on="school")

In [13]:
#Math Scores by grade
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

math_pergrade= alldata.groupby(["school","grade"]).mean()
math_pergrade=math_pergrade[["math_score"]]
math_pergrade.rename(columns={"math_score":"Average Math Score"})
math_pergrade

                             math_score
school                grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

In [14]:
#Reading Scores by Grade
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
reading_pergrade= alldata.groupby(["school","grade"]).mean()
reading_pergrade=reading_pergrade[["reading_score"]]
reading_pergrade.rename(columns={"reading_score":"Average Reading Score"})
reading_pergrade

                             reading_score
school                grade
Bailey High School    10th       80.907183
                      11th       80.945643
                      12th       80.912451
                      9th        81.303155
Cabrera High School   10th       84.253219
                      11th       83.788382
                      12th       84.287958
                      9th        83.676136
Figueroa High School  10th       81.408912
                      11th       80.640339
                      12th       81.384863
                      9th        81.198598
Ford High School      10th       81.262712
                      11th       80.403642
                      12th       80.662338
                      9th        80.632653
Griffin High School   10th       83.706897
                      11th       84.288089
                      12th       84.013699
                      9th        83.369193
Hernandez High School 10th       80.660147
                      11th       81.396140
                      12th       80.857143
                      9th        80.866860
Holden High School    10th       83.324561
                      11th       83.815534
                      12th       84.698795
                      9th        83.677165
Huang High School     10th       81.512386
                      11th       81.417476
                      12th       80.305983
                      9th        81.290284
Johnson High School   10th       80.773431
                      11th       80.616027
                      12th       81.227564
                      9th        81.260714
Pena High School      10th       83.612000
                      11th       84.335938
                      12th       84.591160
                      9th        83.807273
Rodriguez High School 10th       80.629808
                      11th       80.864811
                      12th       80.376426
                      9th        80.993127
Shelton High School   10th       83.441964
                      11th       84.373786
                      12th       82.781671
                      9th        84.122642
Thomas High School    10th       84.254157
                      11th       83.585542
                      12th       83.831361
                      9th        83.728850
Wilson High School    10th       84.021452
                      11th       83.764608
                      12th       84.317673
                      9th        83.939778
Wright High School    10th       83.812757
                      11th       84.156322
                      12th       84.073171
                      9th        83.833333

In [15]:
#Grades by SchoolSpending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)
#Scores by School Size
#bins
bins= [570, 600, 630, 660]
school_spending= ["$571- $600", "$601-$630","More than $630"]


school_summary["Per Student Budget"]= pd.cut(school_summary["Per Student Budget"],bins,labels=school_spending)
school_group= school_summary.groupby("Per Student Budget")

In [ ]:
school_summary=school_summary[["School Type","Total Students","Total Budget", "Per Student Budget", "Average Math Score",     
                                   "Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]

In [ ]:
Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).
Scores by School Type

Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).